<html>
<head>
<title>Engineering Blogs</title>
<meta name="viewport" content="width=device-width" />
<style>
  BODY {
    font-family: verdana, monaco, menlo, consolas, "courier new", monospace;
    margin: 12px;
  }

  MAIN {
    margin: 2em auto;
    max-width: 80ch;
  }

  .item {
    margin-bottom: 2ch;
    display: grid;
    grid-template-columns: 1fr minmax(max-content, 40px) 4fr;
  }
  
  h2 {
    font-weight: 300;
    font-size: 24px;
    margin-top: 36px;
  }

  h1 {
    font-weight: 300;
    font-size: 42px;
    margin-top: 30px;
  }

  .time { grid-column: 2;   grid-row: 1 }
  .link { grid-column: 3;   grid-row: 1 }
  .source { grid-column: 1; grid-row: 1 }

  .source { text-align: right; }
  .link { font-family: Verdana, arial, sans-serif; }
</style>
</head>
<body>

<main>

<h1>engineering blogs</h1>
<p>from <%= source_count %> sources [<a href="https://engblogs.s3.amazonaws.com/engblogs.opml">OPML</a>]</p>
<p><em>last built at <%= Time.now %></em></p>

<div class="items">
<%
  old_date = ''
  items.each do |item|
    d = item[:published].strftime("%Y-%m-%d") %>

    <% if old_date != d %>
    <div class="item"><div class="link"><h2><%= d %></h2></div></div>
    <% end %>
  <div class="item">
    <div class="time"><%= item[:published].strftime("%H") %>h</div>
    <div class="link"><a href="<%= item[:url] %>"><%= item[:title] %></a></div>
    <div class="source"><%= item[:feed] %></div>
  </div>
<% 
  old_date = d
  end %>
</div>


  <footer>
    <p><a href="https://github.com/peterc/engblogs">GitHub repo.</a></p>
  </footer>
</main>


</body>
</html>
