<html>
<head>
<title>Engineering Blogs</title>
<meta name="viewport" content="width=device-width" />
<style>
HTML {
  margin: 0;
  border-top: 8px solid #08f;
}

  A { color: #06c; }
  A:visited { color: #aaa; }

  BODY {
    font-family: verdana, monaco, menlo, consolas, "courier new", monospace;
    margin: 12px;
  }

  MAIN {
    margin: 2em auto;
    max-width: 90ch;
  }

  .item {
    margin-bottom: 1ch;
    display: grid;
    align-items: start;
    grid-template-columns: minmax(max-content, 24%) 1fr;
  }
  
  h2 {
    font-weight: 300;
    font-size: 24px;
    margin-top: 36px;
    margin-bottom: 24px;
  }

  h1 {
    font-weight: 300;
    font-size: 42px;
    margin-top: 30px;
  }

  /* .time { grid-column: 2;   grid-row: 1 } */
  .link { grid-column: 2;   grid-row: 1 }
  .source { grid-column: 1; grid-row: 1 }

  .source { 
    text-align: left;
    padding-right: 12px;
    margin-right:12px;
    background: linear-gradient(180deg, 
        rgba(0,0,0,0) calc(50% - 1px), 
        rgba(220,220,220,1) calc(50%), 
        rgba(0,0,0,0) calc(50% + 1px)
    );
  }
  .source span {
    background-color: #fff;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  .link {
    font-family: Verdana, arial, sans-serif;
  }
  .time { color: #999; padding: 0px 6px; }
  .link A { text-decoration: none; }

  @media only screen  and (max-width: 720px) {
    .item {
      grid-template-columns: 100%;
      margin-bottom: 18px;
    }
    .link {
      grid-column: 1;
      grid-row: 2;
    }
    .source {
      background: none;
      margin-bottom: 2px;
    }
  }
</style>
</head>
<body>

<main>

<h1><%= source_count %> engineering blogs <sup style="font-size: 14px"><a href="https://engblogs.s3.amazonaws.com/engblogs.opml">OPML</a></sup></h1>
<p><em>last built at <%= Time.now.getutc.strftime("%Y-%m-%d %H:%M UTC") %></em></p>

<div class="items">
<%
  old_date = ''
  items.each do |item|
    d = item[:published].strftime("%Y-%m-%d") %>

    <% if old_date != d %>
    <h2><%= d %></h2>
    <% end %>
  <div class="item">
    <!-- div class="time"><%= item[:published].strftime("%H") %>h</div -->
    <div class="link"><a href="<%= item[:url] %>"><%= item[:title] %></a></div>
    <div class="source"><span><%= item[:feed] %>&nbsp;</span></div>
  </div>
<% 
  old_date = d
  end %>
</div>


  <footer>
    <p><a href="https://github.com/peterc/engblogs">GitHub repo.</a></p>
  </footer>
</main>


</body>
</html>
